@import "../../styles/variables";
@import "../../styles/mixins";

.menu {
  position: absolute;
  @include flex_container(column);
  top: 50px;
  height: 600px;
  width: 300px;
  background-color: $secondary_color;
  right: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  z-index: 4;
}

.hide {
  display: none;
}

.title {
  font-weight: bold;
  font-family: $primary_font;
  color: $primary_color;
}

.socials {
  list-style: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 20px;
  padding: 0;
  & img {
    @include img-size;
  }
}
