@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/media";
.hero {
  @include flex_container(column);
  font-family: $primary_font;
}

.image_container {
  position: relative;

  .image {
    @include img-size(500px, 100vw);
    object-fit: cover;
  }
  .title {
    font-size: 4rem;
    position: absolute;
    top: 200px;
    left: 100px;
    text-shadow: 0 0 4px $secondary_color;
  }
}

.first_list {
  display: flex;
  list-style: none;
  gap: 25px;
  padding: 0;
  font-size: 1.1rem;
  & img {
    @include img-size;
  }
  & div {
    @include flex_container;
  }
}

hr {
  width: 80%;
  border: 0;
  border-bottom: 1px dotted $primary_color;
  border-width: 4px;
}

.second_list {
  display: flex;
  list-style: none;
  gap: 25px;
  padding: 0;
  font-weight: bold;
  font-size: 1.3rem;

  li {
    cursor: pointer;
    &:hover {
      color: $primary_color;
    }
  }
}

@include mobile {
  .image_container {
    .title {
      left: 20px;
      font-size: 3.5rem;
    }
  }
}
