@import "../../styles/variables";
@import "../../styles/mixins";

.popup {
  position: fixed;
  top: 20px;
  left: calc(50vw - 100px);
  width: 200px;
  padding: 0 14px;
  background-color: $secondary-color;
  font-family: $primary_font;
  color: $primary_color;
  border-radius: 12px;
  border: 1px solid $primary_color;
  box-shadow: 0 0 4px rgb(0, 0, 0.35);
  z-index: 3;
  p {
    color: $background_color;
  }
}
