// colors
$primary_color: #cc0022d0;
$secondary_color: #ebebeb;
$background-color: rgb(27, 27, 27);
// fonts
$primary_font: "Grenze Gotisch", cursive;
$secondary_font: "Fasthand", cursive;
//transition timers
$fast: 0.4s;
$slow: 1s;
