@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/media";
.navbar {
  display: flex;
  height: 60px;
  font-family: $primary_font;
  justify-content: space-around;
}

.links {
  list-style: none;
  display: flex;
  cursor: pointer;
  gap: 20px;
  padding: 5px;
  & :hover {
    color: $primary_color;
  }
}

.socials {
  list-style: none;
  display: flex;
  cursor: pointer;
  gap: 20px;
  padding: 0;
  & img {
    @include img-size;
  }
}

.hamburger_menu {
  display: none;
}

@include mobile {
  .socials {
    display: none;
  }

  .hamburger_menu {
    display: block;
    @include img-size;
    border-radius: 100%;

    margin-top: 15px;
    cursor: pointer;
    &:hover {
      background-color: $primary_color;
    }
  }
}
